.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button{
  background-color: rgb(0, 23, 99);
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid white;
  color: white;
}

button:hover{
  background-color: white;
  color: rgb(0, 23, 99);
  border: 2px solid rgb(0, 23, 99);
}

.users{
  display: flex;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
label input {
  margin-bottom: 10px;
  margin-right: 5px;
}